.Side-bar
  .Side-bar__user-name
    .Side-bar__sbox
      
      = current_user.name
      
      .Side-bar__sbox-two
        .Side-bar__edit-icon
        
        = link_to new_group_path do
          = icon('far', 'edit')
          .Side-bar__cog-icon
          
          = link_to edit_user_path(current_user) do
            = icon('fa', 'cog')
      
  .Side-bar__group-list
    - current_user.groups.each do |group|
      .Side-bar__group
      = link_to group_messages_path(group) do
        .Side-bar__group-a
          = group.name
        .Side-bar__group-b
          = group.show_last_message